<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'fonts/icomoon/style.css'%}">

    <link href="{% static 'fullcalendar/packages/core/main.css'%}" rel='stylesheet' />
    <link href="{% static 'fullcalendar/packages/daygrid/main.css'%}" rel='stylesheet' />


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'calendarcss/bootstrap.min.css' %}">

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'calendarcss/style.css' %}">

    <title>Calendar #10</title>

  </head>
  <body>



  <div class="container">
    Vamoh a veh


    <form  action="calendario2" method="get">
    <!-- Choices-->
    Festivos    <input type="checkbox" name="festivos" id="festivos" value="festivos" >
    Grupos HCR     <input type="checkbox" name="grupos_HCR" id="grupos_HCR" value="grupos_HCR" >
    Grupos HCL     <input type="checkbox" name="grupos_HCL" id="grupos_HCL" value="grupos_HCL" >
    Grupos HM     <input type="checkbox" name="grupos_HM" id="grupos_HM" value="grupos_HM" >

    Posibles    <input type="checkbox" name="grupos_quizas" id="grupos_quizas" value="grupos_quizas" >

    Habs HCR     <input type="checkbox" name="habs_HCR" id="habs_HCR" value="habs_HCR" >
    Habs HCL     <input type="checkbox" name="habs_HCL" id="habs_HCL" value="habs_HCL" >
    Habs HM     <input type="checkbox" name="habs_HM" id="habs_HM" value="habs_HM" >

    <!-- Submit-->
    <input type="submit" value="submit">
    </form>
    {%if grupos_HCR%}
    ola
    {%endif%}

  </div>
  <div id='calendar-container'>
    <div id='calendar'></div>
  </div>



    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'fullcalendar/packages/core/main.js' %}"></script>
    <script src="{% static 'fullcalendar/packages/interaction/main.js' %}"></script>
    <script src="{% static 'fullcalendar/packages/daygrid/main.js' %}"></script>
    <script src="{% static 'fullcalendar/packages/timegrid/main.js' %}"></script>
    <script src="{% static 'fullcalendar/packages/list/main.js' %}"></script>








    <script>
      document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],
      height: 'parent',
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      },
      defaultView: 'dayGridMonth',
      defaultDate: '2021-08-12',
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      eventLimit: false, // allow "more" link when too many events



      events: [
        {% for calendar in calendarios %}


        {% if habs_HCR %}
          {

            title: '{{calendar.HCRdayprice}}',
            start: '{{calendar.formatday}}',
            end: '{{calendar.formatday}}',
            color: 'gray',
            textColor: 'green',
            sort:"0",
          },

        {% endif %}

        {% if habs_HCL %}
          {

            title: '{{calendar.HCLdayprice}}',
            start: '{{calendar.formatday}}',
            end: '{{calendar.formatday}}',
            color: 'gray',
            textColor: 'green',
            sort:"0",
          },

        {% endif %}

        {% if habs_HM %}
          {

            title: '{{calendar.HMdayprice}}',
            start: '{{calendar.formatday}}',
            end: '{{calendar.formatday}}',
            color: 'gray',
            textColor: 'green',
            sort:"0",
          },

        {% endif %}
        {% endfor %}






        {% if grupos_HCR %}
        {% for grupo in gruposHCR %}

          {
            title: '{{grupo.title}}',
            start: '{{grupo.formatentrada}}',
            end: '{{grupo.formatsalida}}',
            color: '#A93226',
            sort:'2'
          },

        {% endfor %}
        {% endif %}

        {% if grupos_HCL %}
        {% for grupo in gruposHCL %}

          {
            title: '{{grupo.title}}',
            start: '{{grupo.formatentrada}}',
            end: '{{grupo.formatsalida}}',
            color: '#FF6400',
            sort:'2'
          },

        {% endfor %}
        {% endif %}

        {% if grupos_HM %}
        {% for grupo in gruposHM %}

          {
            title: '{{grupo.title}}',
            start: '{{grupo.formatentrada}}',
            end: '{{grupo.formatsalida}}',
            color: '#0500AF',
            sort:'2'
          },

        {% endfor %}
        {% endif %}

    ],




    });

    calendar.render();
  });

    </script>

    <script src="{% static 'js/main.js' %}"></script>



  </body>
</html>
