{% extends "base.html" %}
{% load static %}

{% block content %}



<div class="row" style="display:flex; margin-right:20px">
  <div class="column" style="flex: 50%; margin-right:10px">
    <h1>Title: {{ grupo.title }}</h1>

    <!-- <p><strong>Author:</strong> <a href="">{{ book.author }}</a></p> <!-- author detail link not yet defined -->
    <p><strong>Entrada:</strong> {{ grupo.entrada }}</p>
    <p><strong>Salida:</strong> {{ grupo.salida }}</p>
    <p><strong>Salida:</strong> {{ grupo.pax}}</p>

    <table>
    <tr>
      <th></th>
      <th></th>
      <th colspan="3">Habitaciones</th>
      <th></th>
      <th colspan="3">Precios</th>
      <th></th>
      <th colspan="3">Precios competencia</th>
    </tr>
    <tr>
      <th>Fecha</th>
      <th>Festivo</th>
      <th>HCR</th>
      <th>HCL</th>
      <th>HM</th>
      <th></th>
      <th>HCR</th>
      <th>HCL</th>
      <th>HM</th>
      <th></th>
      <th>FyG</th>
      <th>NH</th>
    </tr>

    {% for calendario in calendarios%}


    {% if calendario.day >= grupo.entrada and calendario.day < grupo.salida %}

    <tr>
      <td>{{calendario.day}}</td>
      <td>{{calendario.festivo}}</td>
      <td>{{calendario.HCRrooms}}</td>
      <td>{{calendario.HCLrooms}}</td>
      <td>{{calendario.HMrooms}}</td>
      <td></td>
      <td>{{calendario.HCRprice}}</td>
      <td>{{calendario.HCLprice}}</td>
      <td>{{calendario.HMprice}}</td>
      <td></td>
      <td>{{calendario.FyGprice}}</td>
      <td>{{calendario.NHprice}}</td>
    </tr>
    {% endif %}
    {% endfor %}


  </table>

    <a href="{% url 'solicitudgrupo' grupo.pk  %}">Nueva solicitud</a>
  </div> <!--termina primera columna-->

  <div class="column" style="flex: 49%;">
    <div id='calendar-container'>
      <div id='calendar'></div>
    </div>
  </div>

</div>




  <!--
  <p><strong>Language:</strong> {{ book.language }}</p>
  <p><strong>Genre:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>-->

  <div style="margin-left:0px;margin-top:20px">











    <h3>Solicitudes con reserva</h3>
    {% if num_solicitudes_reservadas > 0 %}

    {% for solicitud in solicitudes_reservadas %}
    <hr>
    <div class="row" style="margin-left:20px>
      <div class="column"><p class="text-muted"><strong>Id:</strong> {{solicitud.id}}</p></div>
      <div class="column"><p><strong>Agencia:</strong> {{solicitud.agencia}}</p></div>
      <div class="column"><p><strong>Recibida:</strong> {{solicitud.recibida}}</p></div>
      <a href="">Anular</a>
    </div>
    <h4>Cotizaciones:</h4>
    {% for cotizacion in cotizaciones %}

    {% if cotizacion.solicitud == solicitud %}

    <div class="row">
      {% if cotizacion.reservada %}
      <div class="column"><p class="text-danger"><strong>Reservada</strong></p></div>
      {% else %}
      <div class="column"><p class="text-warning"><strong>No reservada</strong></p></div>
      {%endif%}
      <div class="column"><p class="text-muted"><strong>Id:</strong> {{cotizacion.id}}</p></div>
      <div class="column"><p><strong>Hotel:</strong> {{cotizacion.hotel}}</p></div>
      <div class="column"><p><strong>Enviada:</strong> {{cotizacion.enviada}}</p></div>
      {%if cotizacion.cotizacionSA != 0 %}
      <div class="column"><p><strong>SA:</strong> {{cotizacion.cotizacionSA}}€/pax</p></div>
      {% endif %}
      {%if cotizacion.cotizacionAD != 0 %}
      <div class="column"><p><strong>AD:</strong> {{cotizacion.cotizacionAD}}€/pax</p></div>
      {% endif %}
      {%if cotizacion.cotizacionMP != 0 %}
      <div class="column"><p><strong>MP:</strong> {{cotizacion.cotizacionMP}}€/pax</p></div>
      {% endif %}
      {%if cotizacion.cotizacionPC != 0 %}
      <div class="column"><p><strong>MP:</strong> {{cotizacion.cotizacionPC}}€/pax</p></div>
      {% endif %}
      <a href="#">Modificar</a>
    </div>

    <a href="#">Borrar</a>
    <a href="#">Editar</a>
    <a href="{% url 'reservacotizacion' pk=cotizacion.pk %}">Reservar</a>

    {%endif%}

    {% endfor %}

    {% endfor %}
    {%else%}

    <p>Sin solicitudes reservadas</p>
    {%endif%}

    <h3>Solicitudes pendientes de cotización</h3>

    {% if num_solicitudes_pendientes > 0 %}

    {% for solicitud in solicitudes_pendientes %}
    <div class="row">
      <div class="column"><p class="text-muted"><strong>Id:</strong> {{solicitud.id}}</p></div>
      <div class="column"><p><strong>Agencia:</strong> {{solicitud.agencia}}</p></div>
      <div class="column"><p><strong>Recibida:</strong> {{solicitud.recibida}}</p></div>
      <a href="{{ solicitud.get_absolute_url }}">Cotizar</a>
      <a href="">Anular</a>
      <a href="">Modificar</a>
    </div>

    <h4>Cotizaciones:</h4>
    {% for cotizacion in cotizaciones %}

    {% if cotizacion.solicitud == solicitud %}

    <div class="row">
      {% if cotizacion.reservada %}
      <div class="column"><p class="text-danger"><strong>Reservada</strong></p></div>
      {% else %}
      <div class="column"><p class="text-warning"><strong>No reservada</strong></p></div>
      {%endif%}
      <div class="column"><p class="text-muted"><strong>Id:</strong> {{cotizacion.id}}</p></div>
      <div class="column"><p><strong>Hotel:</strong> {{cotizacion.hotel}}</p></div>
      <div class="column"><p><strong>Enviada:</strong> {{cotizacion.enviada}}</p></div>
      {%if cotizacion.cotizacionSA != 0 %}
      <div class="column"><p><strong>SA:</strong> {{cotizacion.cotizacionSA}}€/pax</p></div>
      {% endif %}
      {%if cotizacion.cotizacionAD != 0 %}
      <div class="column"><p><strong>AD:</strong> {{cotizacion.cotizacionAD}}€/pax</p></div>
      {% endif %}
      {%if cotizacion.cotizacionMP != 0 %}
      <div class="column"><p><strong>MP:</strong> {{cotizacion.cotizacionMP}}€/pax</p></div>
      {% endif %}
      {%if cotizacion.cotizacionPC != 0 %}
      <div class="column"><p><strong>MP:</strong> {{cotizacion.cotizacionPC}}€/pax</p></div>
      {% endif %}

    </div>
    <a href="">Eliminar</a>
    <a href="">Modificar</a>
    <a href="{% url 'reservacotizacion' pk=cotizacion.pk %}">Reservar</a>

    {%endif%}
    {% endfor %}
    {% endfor %}
    {%else%}

    <p>Sin solicitudes pendientes de respuesta</p>
    {%endif%}

    <h3>Solicitudes cotizadas esperando reserva</h3>

    {% if num_solicitudes_quizas > 0 %}

    {% for solicitud in solicitudes_quizas %}
    <div class="row">
      <div class="column"><p class="text-muted"><strong>Id:</strong> {{solicitud.id}}</p></div>
      <div class="column"><p><strong>Agencia:</strong> {{solicitud.agencia}}</p></div>
      <div class="column"><p><strong>Recibida:</strong> {{solicitud.recibida}}</p></div>
      <a href="{{ solicitud.get_absolute_url }}">Cotizar</a>
      <a href="">Anular</a>
      <a href="">Modificar</a>
    </div>

    <h4>Cotizaciones:</h4>
    {% for cotizacion in cotizaciones %}

    {% if cotizacion.solicitud == solicitud %}

    <div class="row">
      {% if cotizacion.reservada %}
      <div class="column"><p class="text-danger"><strong>Reservada</strong></p></div>
      {% else %}
      <div class="column"><p class="text-warning"><strong>No reservada</strong></p></div>
      {%endif%}
      <div class="column"><p class="text-muted"><strong>Id:</strong> {{cotizacion.id}}</p></div>
      <div class="column"><p><strong>Hotel:</strong> {{cotizacion.hotel}}</p></div>
      <div class="column"><p><strong>Enviada:</strong> {{cotizacion.enviada}}</p></div>
      {%if cotizacion.cotizacionSA != 0 %}
      <div class="column"><p><strong>SA:</strong> {{cotizacion.cotizacionSA}}€/pax</p></div>
      {% endif %}
      {%if cotizacion.cotizacionAD != 0 %}
      <div class="column"><p><strong>AD:</strong> {{cotizacion.cotizacionAD}}€/pax</p></div>
      {% endif %}
      {%if cotizacion.cotizacionMP != 0 %}
      <div class="column"><p><strong>MP:</strong> {{cotizacion.cotizacionMP}}€/pax</p></div>
      {% endif %}
      {%if cotizacion.cotizacionPC != 0 %}
      <div class="column"><p><strong>MP:</strong> {{cotizacion.cotizacionPC}}€/pax</p></div>
      {% endif %}

    </div>
    <a href="">Eliminar</a>
    <a href="">Modificar</a>
    <a href="{% url 'reservacotizacion' pk=cotizacion.pk %}">Reservar</a>



    {%endif%}

    {% endfor %}

    <button type="button" name="Nueva cotizacion"></button>
    {%endfor%}

    {%else%}

    <p>Sin solicitudes esperando reserva</p>

    {%endif%}





    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <script src="{% static 'fullcalendar/packages/core/main.js' %}"></script>
    <script src="{% static 'fullcalendar/packages/interaction/main.js' %}"></script>
    <script src="{% static 'fullcalendar/packages/daygrid/main.js' %}"></script>
    <script src="{% static 'fullcalendar/packages/timegrid/main.js' %}"></script>
    <script src="{% static 'fullcalendar/packages/list/main.js' %}"></script>








    <script>
      document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      plugins: [ 'interaction', 'dayGrid', 'timeGrid', 'list' ],
      height: 'parent',
      header: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      },
      defaultView: 'dayGridMonth',
      defaultDate: '{{ grupo.formatentrada }}',
      navLinks: true, // can click day/week names to navigate views
      editable: true,
      eventLimit: false, // allow "more" link when too many events



      events: [

        {% for otrogrupo in grupos %}

            {%if grupo.title == otrogrupo.title %}
              {
                title: '{{grupo.title}}',
                start: '{{grupo.formatentrada}}',
                end: '{{grupo.formatsalida}}',
                url: "detallegrupo{{grupo.id}}",
                color: 'black',
                sort:'1'
              },
            {%else %}
              {
                title: '{{otrogrupo.title}}',
                start: '{{otrogrupo.formatentrada}}',
                end: '{{otrogrupo.formatsalida}}',
                url: "detallegrupo{{otrogrupo.id}}",
                color: 'blue',
                sort:'2'
              },
            {% endif %}
        {% endfor %}

    ],




    });

    calendar.render();
  });

    </script>

    <script src="{% static 'js/main.js' %}"></script>



{% endblock %}
