{% extends "base.html" %}

{% block content %}

    <h1>Avisos precios</h1>
    <button class="button">Por hotel</button>
    <button class="button">Por fecha</button>

    {%for day in dayswithwarnings%}



    {%for calendar in calendario%}






      {% for warning in HM %}

        {%if warning.dia == calendar.day%}
        <li>
        {{warning}}
        </li>
        {%endif%}

      {% endfor %}


    {% endfor %}



    <h2>Hotel Murrieta</h2>
    {% if HM %}
    <ul>

      {% for warning in HM %}
      <li>

        {{warning}}
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>Sin avisos para el Murrieta.</p>

    {% endif %}

    <h2>Ciudad de Logroño</h2>
    {% if HCL %}
    <ul>

      {% for warning in HCL %}
      <li>

        {{warning}}
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>Sin avisos para el Ciudad.</p>

    {% endif %}

    <h2>Hotel Carlton Rioja</h2>
    {% if HCR %}
    <ul>

      {% for warning in HCR %}
      <li>

        {{warning}}
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>Sin avisos para el Carlton.</p>

    {% endif %}
    {% endfor %}

{% endblock %}
